# Virtual Environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]

# Database files
*.db
*.sqlite
*.sqlite3

# Temporary files
temp_files/

# IDE / Editor specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?